 *{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 20px;
 
}
body{
  background-image: url("https://fondosmil.com/fondo/22132.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgb(6, 6, 31);

}


.div-body{
  

}
.div-body-responsive{

  display: none;
}


.cabecera{

  box-sizing: border-box;
  display: block;
}


.descripcion{

  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  background: #000;
  height: 450px;
  width: 950px;
  margin-top:100px;
  margin-left: 150px;
  margin-bottom:40px;
  border-radius: 20px;
  border: rgb(204, 173, 35) 5px double;
  box-shadow: 3px 4px 55px 0 rgb(228, 228, 228) ;
  z-index: -100;
  opacity: 0.88;

}

.divfotoPerfil{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background: #F8C807;
  height:450px;
  width: 380px;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 950px;
  margin-bottom: 40px;
  
  box-shadow: 3px 4px 55px 0 rgb(228, 228, 228) ;

}

.descripcion h2{

  color: #fff;
  text-align: center;
  margin-top: 65px;
}

.descripcion h1{
 text-align: center;
  color: #F8C807;
}

.descripcion img{

  height: 100px;
  width: 200px;
  margin-left: 50px;
}

.divfotoPerfil img{

  height: 350px;
  width: 250px;
  position: absolute;
  margin-left: -90px;
  margin-top: 25px;
  border-radius: 100%;
}


.sobremi{
  position: relative;
  background: #000;
  opacity: .88;
  width: 150px;
  height: 100px;
  display: block;
  margin-left: 635px;
  border-radius: 15px;
  font-size: 1px;
  text-align: center;
  border: rgb(204, 173, 35) 5px double;
  transition: all 1s;
  
}



.sobremi h2{

  color: #fff;
  padding: 25px;
}


.contProyectos{
  box-sizing: border-box;
  display: block;
 

  margin-left: 200px;

}

.proyecto{

  display: inline-block;
  width: 285px;
  height: 385px;
  background: #000;
  border: rgb(204, 173, 35) 5px double;
  margin-left: 60px;
  border-radius: 15px;
  transition: all 1s;

}

.titulo{
 
  color: #fff;
  margin-left: 290px;
  font-weight: 600;
  font-size: 50px;
  padding: 50px;
  background: #000;
  border:  rgb(204, 173, 35) 5px double;
  width: 475px;
  height: 100;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  opacity: 0.8;
}

.imgProyecto {

  width: 270px;
  height: 370px;
  transition: all 1s;
  text-shadow: ;

}

.imgProyecto img {

  width: 270px;
  height: 370px;
  object-fit: scale-down;

  transition: all 1s;

}

.descProyecto{
  position: relative;
  margin-top:25px ;
  display: block;  
  width: 285px;

  background: #000;
  border-radius: 15px;
  border: rgb(204, 173, 35) 5px double;
  font-size: 15px;
  color: #fff;
  transition: all 1s;


}

/*aplicando hover*/

.sobremi:hover{

  width: 400px;
  height: 250px;
  font-size: 20px;
  color: #fff;
  text-align: justify;

}

.proyecto:hover{

  
  width: 385px;
  height: 485px;
 
}

.imgProyecto:hover {

  width: 370px;
  height: 470px;



}

.imgProyecto img:hover {

  width: 370px;
  height: 470px;




}



/*area responsive*/
@media only screen and  (max-width:500px){

.div-body-responsive{

  display: block;

}
.cabecera{
  display: none;
}
.div-body{

  display: none;
}

body{
  background-image: none;
  background-color: rgb(6, 6, 31);
}
.sobremi-responsive{
  position: relative;
  background: #000;
  opacity: .88;
  width: 150px;
  height: 100px;
  display: block;
  margin-left: 45px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  border: rgb(204, 173, 35) 5px double;
  padding: 10px;
 

  width: 325px;
  height: 300px;
  font-size: 15px;
  color: #fff;

  
}



.sobremi-responsive h2{

  color: #fff;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
}




.contProyectos-responsive{
  box-sizing: border-box;
  display: block;
  position: absolute;
  margin-bottom: 50px;
  margin-left: 23px;
 
 

}

.proyecto-responsive{
  position: relative;
  display: inline-block;
  width: 285px;
  height: 385px;
  background: #000;
  border: rgb(204, 173, 35) 5px double;
  margin-left: 50px;
  border-radius: 15px;
  margin-top: 60px;
  margin-bottom: 50px;

}

.imgProyecto-responsive {

  width: 270px;
  height: 370px;
  


}

.imgProyecto-responsive img {

  width: 270px;
  height: 370px;
  object-fit: scale-down;


}

.descProyecto-responsive{
  position: relative;
  margin-top:28px ;
  display: block;  
  width: 285px;
  margin-bottom: 50px;
  background: #000;
  border-radius: 15px;
  border: rgb(204, 173, 35) 5px double;
  font-size: 15px;
  color: #fff;
  


}

.title-responsive h1{

  color: #fff;
  text-align: center;
  margin-left: -10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




}



